<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <div class="relative z-10 max-w-3xl mx-auto mt-12 p-6 pb-12 bg-white rounded-xl shadow-lg flex flex-col gap-6" id="form-container">
        <div class="absolute right-8 top-8">
            <button onclick="window.location.href='/projects'" type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 shadow-md">
                Back to Project List
            </button>
        </div>
        <h1 class="text-2xl font-bold mb-4">View Project</h1>
        {% if project %}
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">GUID:</span>
                <span class="ml-2 text-gray-800">{{ project.guid }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Created:</span>
                <span class="ml-2 text-gray-800">{{ project.created_datetime }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Modified:</span>
                <span class="ml-2 text-gray-800">{{ project.modified_datetime }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Name:</span>
                <span class="ml-2 text-gray-800">{{ project.name }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Abbreviation:</span>
                <span class="ml-2 text-gray-800">{{ project.abbreviation }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Status:</span>
                <span class="ml-2 text-gray-800">{{ status_choices[project.status] }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Customer:</span>
                {% if customer %}
                <span class="ml-2 text-gray-800">{{ customer.name }}</span>
                {% else %}
                <span class="ml-2 text-gray-800">None</span>
                {% endif %}
            </li>
            <a href="{{ url_for('web_project.edit_project_route', project_guid=project.guid) }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit Project
            </a>
        </ul>

        <h1 class="text-2xl font-bold mb-4">View Integrations</h1>

        <h3 class="text-lg font-semibold">Microsoft 365</h3>
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Client ID:</span>
                <span class="ml-2 text-gray-800">{{ 'ms_auth.client_id' }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Tenant:</span>
                <span class="ml-2 text-gray-800">{{ 'ms_auth.tenant' }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Scope:</span>
                <span class="ml-2 text-gray-800">{{ 'ms_auth.scope' }}</span>
            </li>
            <a href="" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit Microsoft 365
            </a>
        </ul>
        {% else %}
        <div class="text-red-600 font-semibold">Project not found.</div>
        {% endif %}
    </div>
</body>
</html>
