/* Global settings */
:root {
    --header-height: 72px;
    --footer-height: 72px;
    --navigator-width: 225px;
    --aside-width: 225px;
}

/* Ensure full viewport coverage */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
}

/* Partials settings */
h1 {
    font-size: 1.0rem;
    font-weight: 200;
}

h2 {
    font-size: 0.75rem;
    font-weight: 200;
}

h3 {
    font-size: 0.50rem;
    font-weight: 200;
}


/* Components settings */
.logo {
    color: #111827;
    font-size: 0.50rem;
    font-weight: 200;
    text-decoration: none;
}

.logo:hover {
    color: #374151;
}


/* Pages settings */