{% block content %}

    <h1>Create Entry Line Item</h1>

    <form id="entryLineItemForm" autocomplete="off" onsubmit="return false;">

        {% include 'entry_line_item/_form.html' %}

        <!-- Button Section -->
        {% if readonly %}
            <button type="button" onclick="">Edit</button>
        {% else %}
            <button type="button" onclick="addLineItem()">Add Line Item</button>
        {% endif %}

    </form>


{% endblock %}

<script src="{{ url_for('static', filename='js/form-handler.js') }}" defer></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        FormHandler.init('entryLineItemForm', '/api/post/entry-line-item', 'POST');
    });
</script>
