{% extends 'shared/layout/base.html' %}

{% block content %}

    <h1>Edit Entry Line Item</h1>

    <span>{{ entry_line_item.guid }}</span>

    <form id="entryLineItemForm" autocomplete="off" onsubmit="return false;">

        {% include 'entry_line_item/_form.html' %}

    </form>

{% endblock %}

<script src="{{ url_for('static', filename='js/form-handler.js') }}" defer></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        FormHandler.init('entryLineItemForm', '/api/put/entry-line-item', 'PUT');
    });
</script>
