<select name="sub-cost-code[]" class="border p-2 rounded col-span-2" required>
    <option value="">Select Sub Cost Code</option>
    {% if sub_cost_codes %}
        {% for sub_cost_code in sub_cost_codes %}
            <option value="{{ sub_cost_code.guid }}">{{ sub_cost_code.number }} - {{ sub_cost_code.name }}</option>
        {% endfor %}
    {% else %}
        <option>Cost codes did not populate.</option>
    {% endif %}
</select>

<input name="line-item-description[]" placeholder="Description" class="border p-2 rounded col-span-3">

<input name="line-item-amount[]" placeholder="Amount" value="" class="border p-2 rounded col-span-2">

<label class="flex flex-col items-center col-span-1 text-sm">
    <span class="mb-1">Billable</span>
    <input type="checkbox" name="billable[]" checked class="mt-1">
</label>

<select name="project[]" class="border p-2 rounded col-span-2" required>
    <option value="">Select Project</option>
    {% if projects %}
        {% for project in projects %}
            <option value="{{ project.guid }}">{{ project.name }}</option>
        {% endfor %}
    {% else %}
        <option>Projects did not populate.</option>
    {% endif %}
</select>

<button type="button" onclick="this.parentElement.remove()" class="text-red-600 text-xs underline col-span-12">
    Remove Line Item
</button>
