<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <div class="relative z-10 max-w-3xl mx-auto mt-12 p-6 pb-12 bg-white rounded-xl shadow-lg flex flex-col gap-6" id="form-container">
        <div class="absolute right-8 top-8">
            <button onclick="window.location.href='/users'" type="button" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 shadow-md">
                Back to User List
            </button>
        </div>
        <h1 class="text-2xl font-bold mb-4">View User</h1>
        {% if user %}
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">GUID:</span>
                <span class="ml-2 text-gray-800">{{ user.guid }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Created:</span>
                <span class="ml-2 text-gray-800">{{ user.created_datetime }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Modified:</span>
                <span class="ml-2 text-gray-800">{{ user.modified_datetime }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Username:</span>
                <span class="ml-2 text-gray-800">{{ user.username }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Is Active:</span>
                <span class="ml-2 text-gray-800">{{ user.is_active }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Role:</span>
                {% for role in roles %}
                    {% if role.id == user.role_id %}
                        <span class="ml-2 text-gray-800">{{ role.name }}</span>
                    {% endif %}
                {% endfor %}
            </li>
            <a href="{{ url_for('web_user.edit_user_route', user_guid=user.guid) }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit User
            </a>
        </ul>

        <h1 class="text-2xl font-bold mb-4">View Contact</h1>
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">First Name:</span>
                <span class="ml-2 text-gray-800">{{ contact.first_name }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Last Name:</span>
                <span class="ml-2 text-gray-800">{{ contact.last_name }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Email:</span>
                <span class="ml-2 text-gray-800">{{ contact.email }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Phone:</span>
                <span class="ml-2 text-gray-800">{{ contact.phone }}</span>
            </li>
            <a href="{{ url_for('web_contact.edit_contact_route', contact_guid=contact.guid) }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit Contact
            </a>
        </ul>

        <h1 class="text-2xl font-bold mb-4">View Integrations</h1>

        <h3 class="text-lg font-semibold">Microsoft 365</h3>
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Client ID:</span>
                <span class="ml-2 text-gray-800">{{ ms_auth.client_id }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Tenant:</span>
                <span class="ml-2 text-gray-800">{{ ms_auth.tenant }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Scope:</span>
                <span class="ml-2 text-gray-800">{{ ms_auth.scope }}</span>
            </li>
            <a href="{{ url_for('api_ms_auth.authorization', next=request.path) }}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit Microsoft 365
            </a>
        </ul>

        
        <h3 class="text-lg font-semibold">Quickbooks Online Credentials</h3>
        <ul class="divide-y divide-gray-200 bg-gray-50 rounded-lg shadow p-6">
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Client ID:</span>
                <span class="ml-2 text-gray-800">{{ '.client_id' }}</span>
            </li>
            <li class="py-4 flex flex-col sm:flex-row sm:items-center">
                <span class="font-semibold w-32">Realm ID:</span>
                <span class="ml-2 text-gray-800">{{ '.realm_id' }}</span>
            </li>
            <a href="" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 shadow-md">
                Edit Quickbooks Online
            </a>
        </ul>
        {% else %}
        <div class="text-red-600 font-semibold">User not found.</div>
        {% endif %}
    </div>
</body>
</html>
