{% extends 'shared/layout/base.html' %}

{% block content %}

    {% for sub_cost_code in sub_cost_codes %}

        <div>
            <div>
                <span>{{ sub_cost_code.guid }}</span>
                <span>{{ sub_cost_code.number }}</span>
                <span>{{ sub_cost_code.name }}</span>
                <span>{{ sub_cost_code.desc }}</span>
                <span>{{ sub_cost_code.cost_code }}</span>
            </div>
        </div>

    {% endfor %}

{% endblock %}
