{% extends 'shared/layout/base.html' %}

{% block body %}

    <body class="site-layout">

        <!-- Header -->
        {% include 'shared/components/header.html' %}

        <div class="flex min-h-screen">
            <!-- Sidebar -->
            <aside class="w-64 bg-white border-r hidden md:block">
                {% include 'shared/components/navigator.html' %}
            </aside>
            <!-- Main Content -->
            <main class="flex-1 p-8">
                {% include 'shared/components/alerts.html' %}
                
                {% block content %}
                
                {% endblock %}
            </main>
        </div>

        <!-- Footer -->
        {% include 'shared/components/footer.html' %}

    </body>

{% endblock %}
