<label for="username">Username:</label>
{% if readonly %}
    <span class="readonly-field">{{ user.username }}</span>
{% else %}
    <input type="text" id="username" name="username" autocomplete="off" required>
{% endif %}

<label for="password">Password:</label>
{% if readonly %}
    <span class="readonly-field">********</span>
{% else %}
    <input type="password" id="password" name="password" autocomplete="off" required>
{% endif %}

{% if register %}
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="off" required>
{% endif %}