{% extends 'shared/components/body.html' %}

{% block title %}Edit Project{% endblock %}

{% block content %}

    <div class="list-header">
        <h1>Edit Project</h1>
    </div>

    <div class="info-item">
        <label>GUID</label>
        <span>{{ project.guid[:8] }}</span>
    </div>

    <form id="projectForm" autocomplete="off" onsubmit="return false;">

        {% include 'project/_form.html' %}

        <button type="submitButton" id="submitButton" >Submit</button>

    </form>

{% endblock %}

<script src="{{ url_for('static', filename='js/form-handler.js') }}" defer></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        FormHandler.init('projectForm', '/api/put/project', 'PUT');
    });
</script>
