{% extends 'shared/layout/base.html' %}

{% block content %}

    <h1>Create User</h1>

    <form id="userForm" autocomplete="off" onsubmit="return false;">

        {% include 'user/_form.html' %}

        <button type="submitButton" id="submitButton" >Submit</button>

    </form>

{% endblock %}

<script src="{{ url_for('static', filename='js/form-handler.js') }}" defer></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        FormHandler.init('userForm', '/api/post/user', 'POST');
    });
</script>
