{% extends 'shared/layout/base.html' %}

{% block content %}

    <h1>User</h1>

    <span>{{ user.guid }}</span>

    <div class="view-form">

        {% with readonly=True %}
            <h3>User Information</h3>
            {% include "user/_form.html" %}
            <a href="{{ url_for('user_web.edit_user_route', user_guid=user.guid) }}" 
                class="edit-button">Edit</a>

            <h3>Contact Information</h3>
            {% include "contact/_form.html" %}
            <a href="{{ url_for('contact_web.edit_contact_route', contact_guid=contact.guid) }}" 
                class="edit-button">Edit</a>

        {% endwith %}

    </div>

{% endblock %}
