{% extends 'shared/layout/base.html' %}

{% block title %}Create Address{% endblock %}

{% block content %}

    <h1>Create Address</h1>

    <form id="addressForm" autocomplete="off" onsubmit="return false;">

        {% include 'address/_form.html' %}

        <button type="submitButton" id="submitButton" >Submit</button>

    </form>

{% endblock %}

<script src="{{ url_for('static', filename='js/form-handler.js') }}" defer></script>

<script defer>
    document.addEventListener('DOMContentLoaded', function() {
        FormHandler.init('addressForm', '/api/post/address', 'POST');
    });
</script>
